@page
@model WEB.Pages.Mascotas.addExpedienteModel
@{
}
<h1 style="text-align:center">Registrar un Nuevo Expediente</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="shadow p-4 mb-5 bg-body rounded">
                <h2 class="text-center mb-4">Agregar Expediente</h2>
                <form method="post">
                    <!-- Campo oculto para el MascotaID -->
                    <input asp-for="Expediente.MascotaID" type="hidden" />

                    <div class="mb-3">
                        <label asp-for="Expediente.Diagnostico" class="form-label">Diagnóstico</label>
                        <textarea asp-for="Expediente.Diagnostico" class="form-control"></textarea>
                        <span asp-validation-for="Expediente.Diagnostico" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <input class="btn btn-lg btn-primary" type="submit" value="Agregar" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div>
                        <a href="../Index" class="btn btn-secondary w-100" style="margin-top:10px">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
