@page
@model WEB.Pages.Inventario.EditarModel
@{
}
<section class="mt-5">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <!-- Form Container with shadow and padding -->
                <div class="shadow p-4 mb-5 bg-body rounded">
                    <h2 class="text-center mb-4">Editor de Producto</h2>
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="producto.ProductoID" />
                        <fieldset>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                <input asp-for="producto.Nombre" type="text" class="form-control" id="exampleFormControlInput1">
                                <span asp-validation-for="producto.Nombre" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                                <input asp-for="producto.Categoria" type="text" class="form-control" id="exampleFormControlInput1">
                                <span asp-validation-for="producto.Categoria" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Presentacion</label>
                                <input asp-for="producto.Presentacion" type="text" class="form-control" id="exampleFormControlInput1">
                                <span asp-validation-for="producto.Presentacion" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Precio</label>
                                <input asp-for="producto.Precio" type="text" class="form-control" id="exampleFormControlInput1">
                                <span asp-validation-for="producto.Precio" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Cantidad de Stock</label>
                                <input asp-for="producto.Cantidad" type="text" class="form-control" id="exampleFormControlInput1">
                                <span asp-validation-for="producto.Cantidad" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
                                <input asp-for="producto.Descripcion" type="text" class="form-control" id="exampleFormControlInput1">
                                <span asp-validation-for="producto.Descripcion" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile01">Selecciona la imagen</label>
                                <input asp-for="@Model.Imagen" type="file" class="form-control" id="inputGroupFile01">
                                <span asp-validation-for="producto.Imagen" class="text-danger"></span>
                            </div>

                            <div class="d-grid gap-2 mt-3">
                                <input class="btn btn-lg btn-primary" type="submit" value="Editar" class="btn btn-success" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                            <div><a href="/Inventario/ListarProductos" class="btn btn-secondary w-100" style="margin-top:10px">Volver</a></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>