@{
    ViewData["Title"] = "Home Page";
}


<main class="mt-5">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="text-center mb-4">
                    <h2>Bienvenido!</h2>
                    <p>Por favor accede a tu cuenta.</p>
                </div>
                <form class="form p-4 border rounded">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3 text-end">
                        <a href="#" class="text-decoration-none">Olvide mi Contraseña</a>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Ingresar</button>
                    <br />
                    <div><a href="/Home" class="btn btn-secondary w-100" style="margin-top:10px">Volver</a></div>
                    
                    <div class="mt-3 text-center">
                        <span>No tienes cuenta? <a href="@Url.Action("Registro")" class="text-decoration-none">Registrarme</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
