@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container py-6">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 mx-auto col-sm-8 col-lg-6">
                <img src="~/img/imagencta.jpg" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
            </div>
            <div class="col-lg-6">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h2 class="fw-bold display-5">Bienvenido a Farmacia El Ganadero</h2>
                    </div>
                </div>

                <div class="lc-block mb-3">
                    <div editable="rich">
                        <p class="lead">
                            Nos dedicamos a ofrecer los mejores productos y servicios para el cuidado de tus mascotas.
                        </p>
                    </div>
                </div>

                <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-outline-secondary px-4" href="@Url.Action("Acceso")" role="button">Ingresar</a>
                    <a class="btn btn-primary px-4 me-md-2" href="@Url.Action("Registro")" role="button">Registrarme</a>
                </div>

            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="mb-0 display-3 fw-bolder"><b>Sevicios</b></h2>
                    <p editable="inline">
                        Ofrecemos una amplia gama de servicios para el cuidado de tu mascota.

                    </p>
                </div>
                <!-- /lc-block -->
            </div>
        </div>
        <div class="row pt-4 pb-4 g-0">
            <div class="col-md-4 text-center">
                <div class="lc-block p-4">
                    <div>
                       
                        <h5 class="mb-4 mt-3 h2" editable="inline">
                            <strong>Cirugías</strong>
                        </h5>
                    </div>
                    <div editable="rich">
                        <p>Realizamos cirugías de castración y esterilización para controlar la reproducción responsable. Además, ofrecemos cirugías de tejidos blandos y procedimientos ortopédicos para tratar diversas condiciones de salud. Nuestro equipo especializado garantiza un cuidado seguro y efectivo para tu mascota.</p>
                    </div>
                </div>
                <!-- /lc-block -->
            </div>
            <div class="col-md-4 text-center shadow">
                <div class="lc-block p-4">
                    <div>
                       
                        <h5 class="mb-4 mt-3 h2" " editable="inline">
                            <strong>Consultas Generales</strong>
                        </h5>
                    </div>
                    <div editable="rich">
                        <p>Ofrecemos evaluaciones completas para asegurar la salud de tu mascota. Nuestro equipo de profesionales realiza diagnósticos precisos y diseña tratamientos efectivos para cada caso. Nos enfocamos en el bienestar de tu compañero, garantizando su pronta recuperación y una vida saludable.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="lc-block p-4">
                    <div>
                        
                        <h5 class="mb-4 mt-3 h2" " editable="inline">
                            <strong>Venta de Medicamentos y Productos Veterinarios</strong>
                        </h5>
                    </div>
                    <div editable="rich">
                        <p>Contamos con una farmacia especializada para mascotas, ofreciendo una amplia gama de medicamentos y productos de calidad. Desde tratamientos para enfermedades hasta alimentos y accesorios, tenemos todo lo que tu mascota necesita para mantenerse saludable y feliz. ¡Visítanos y encuentra lo mejor para su bienestar!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container py-5 mt-5">
        <div class="row min-vh-50 align-items-center">
            <div class="col-md-12 text-center">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h2 class="display-3 fw-bolder">¿Como llegar?</h2>
                        <p>San Vito de Coto Brus, 200 metros norte del parque de San Vito.</p>
                    </div>
                </div>
                <div class="lc-block border-top col-md-6 offset-md-3">
                    <div editable="rich">
                        <h2 class="fw-bolder"><br></h2>
                    </div>
                </div>
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h2 class="fw-bolder">Horario</h2>
                    </div>
                </div>
                <div class="lc-block">
                    <div editable="rich">
                        <p>Lunes a Viernes: 07:00 – 19:45</p>
                        <p>Sabado y Domingo: 11:00 – 17:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="lc-block overflow-hidden">
                    <div style="max-height:40vh" class="ratio ratio-1x1" lc-helper="gmap-embed">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1971.3089455013203!2d-82.97213669052266!3d8.821920225955964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa435cd02d96d59%3A0x847f4d9ad49f5ad5!2sFarmacia%20y%20veterinaria%20el%20ganadero!5e0!3m2!1ses-419!2scr!4v1727227668171!5m2!1ses-419!2scr;t=m&amp;z=12&amp;output=embed&amp;iwloc=near"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>