@page
@model WEB.Pages.Cita.MisCitasModel
@{
    var idUsuario = new Guid();
    @if (User.Identity.IsAuthenticated)
    {
        idUsuario = Abstracciones.Modelos.Autenticacion.ClaimsPrincipalExtensions.GetIdUsuario(User);
    }
}
@if (Model.Citas != null && Model.Citas.Any())
{
    <section class="mt-5">
        <div class="container">
            <h2 class="text-center mb-4">Citas Veterinarias Registradas</h2>
            <div style="font-weight:bold">
                <h3>Aqui encontraras un registro de todas las citas que has solicitado, tanto pasadas como pendientes</h3>
                <p>Si deseas cancelar o cambiar alguna cita registrada debes llamar a nuestro telefono: <strong>2773-3172</strong> o puedes enviar un mensaje al WhatsApp al numero: 8395-4347 </p>
            </div>
            <!-- Botón para crear una nueva cita -->
            <div class="mb-3 text-center">
                <a class="btn btn-primary" asp-page="/Cita/RegistroCita">Solicitar Nueva Cita</a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Fecha y Hora</th>
                            <th>Dueño</th>
                            <th>Mascota</th>
                            <th>Motivo</th>
                            <th>Veterinario Asignado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cita in Model.Citas)
                        {
                            <tr id="cita-@cita.CitaID">
                                <td>@Html.DisplayFor(modelItem => cita.FechaHora)</td>
                                <td>@Html.DisplayFor(modelItem => cita.Dueno)</td>
                                <td>
                                    @{
                                        var mascotaNombre = Model.MascotasNombres.ContainsKey(cita.MascotaID)
                                        ? Model.MascotasNombres[cita.MascotaID]
                                        : "Mascota no encontrada";
                                    }
                                    @mascotaNombre
                                </td>
                                <td>@Html.DisplayFor(modelItem => cita.Motivo)</td>
                                <td>@Html.DisplayFor(modelItem => cita.VeterinarioAsignadoID)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div><a href="../Index" class="btn btn-secondary w-100" style="margin-top:10px">Volver</a></div>
        </div>
    </section>
}
else
{
    <br>
    <div class="alert alert-danger" role="alert">
        No tienes citas pendientes puedes registrar una cita si la necesitas en el siguiente enlace:
    </div>
    <div>
        <a class="btn btn-lg btn-success me-md-2" asp-area="" asp-page="/Cita/RegistroCita">Registrar Cita </a>
    </div>
    <br>
    <div>
        <div><a href="../Index" class="btn btn-secondary w-100" style="margin-top:10px">Volver</a></div>
    </div>
}
