<div class="d-flex">
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end" style="width: 280px; height: 100vh;">
        <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24"></svg>
            <span class="fs-5 fw-semibold">Gestión de Marketing</span>
            </a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <button class="btn btn-outline-secondary d-inline-flex align-items-center rounded-0 border-0 w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                        Promocionar Producto
                    </button>
                    <div class="collapse" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal small">
                            <li><a href="#" class="nav-link text-dark py-2 px-3 rounded">Crear Campaña</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-secondary d-inline-flex align-items-center rounded-0 border-0 w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Presupuesto
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal small">
                            <li><a href="#" class="nav-link text-dark py-2 px-3 rounded">Definir Presupuesto</a></li>
                            <li><a href="#" class="nav-link text-dark py-2 px-3 rounded">Monitoreo de Gasto</a></li>
                            <li><a href="#" class="nav-link text-dark py-2 px-3 rounded">Ajuste Presupuesto</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-secondary d-inline-flex align-items-center rounded-0 border-0 w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Envio de correos
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal small">
                            <li><a href="#" class="nav-link text-dark py-2 px-3 rounded">Creación de Correo</a></li>
                            <li><a href="#" class="nav-link text-dark py-2 px-3 rounded">Programación de Envío</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
    </div>
</div>
